*
!pyproject.toml
!README.md
!LICENSE
!requirements/
!requirements/**
!mealcircuit/
!mealcircuit/**
!sync_server/
!sync_server/**
!protocol/
!protocol/**
**/__pycache__/
**/*.py[cod]
**/*.db
**/*.db-*
**/.env
**/.env.*
**/*private*
